name: Release

on:
  push:

permissions:
  contents: write

jobs:
  prep:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      should-publish: ${{ steps.semver_parser.outputs.prerelease == '' }}
      prerelease: ${{ steps.semver_parser.outputs.prerelease != '' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master #0.16.0-dev.1254+bf15c791f

      - name: Get Version
        id: version
        run: |
          version=$(zig build version)
          echo "version=$version">> $GITHUB_OUTPUT

      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@v1
        with:
          input_string: ${{ steps.version.outputs.version }}

  build:
    needs: prep
    strategy:
      matrix:
        include:
          - name: windows x86_64
            target: x86_64-windows
            artifact: dxc-${{ needs.prep.outputs.version }}-windows-x86_64
          - name: linux x86_64
            target: x86_64-linux-gnu
            artifact: dxc-${{ needs.prep.outputs.version }}-linux-x86_64
          - name: macos arm64
            target: aarch64-macos
            artifact: dxc-${{ needs.prep.outputs.version }}-macos-aarch64

    name: ${{ matrix.name }}
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Build
        run: zig build -Doptimize=ReleaseFast -Dtarget=${{ matrix.target }}

      - name: Copy binaries to compile dir
        run: cp -r ./zig-out/* ./compiled

      - name: Pack Artifact
        run: cd compiled && tar czf ../${{ matrix.artifact }}.zip . && cd ..

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}.zip

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [prep, build]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # draft: true
          files: |
            ./artifacts/*.zip
          prerelease: ${{ needs.prep.outputs.prerelease }}
          name: ${{ needs.prep.outputs.version }}
          tag_name: v${{ needs.prep.outputs.version }}
          fail_on_unmatched_files: true
